<div class="list-group list-group-flush">

  <ng-container *ngFor="let episode of episodes">

    <div class="list-group-item list-group-item-action px-0">

      <div data-toggle="collapse"
           [attr.data-target]="'#collapseGroupListItem-'+ episode.id"
           data-parent="#episode-table">

        <div class="media my-2">

          <img class="episode-thumb mr-3" style="width:48px;"
               src="{{episode.image}}"
               alt="cover image">

          <div class="media-body">
            <h6 class="mb-1">
              <a [routerLink]="['/e', episode.id]" class="text-dark">{{episode.title}}</a>
            </h6>
            <small class="text-muted">
                <span *ngIf="episode.pubDate">
                  <span class="oi oi-calendar"></span>
                  <span class="mr-2">{{episode.pubDate | date: 'd MMM yyyy' }}</span>
                </span>
              <span *ngIf="episode.itunesDuration">
                  <span class="oi oi-timer"></span>
                  <span class="mr-2">{{episode.itunesDuration}}</span>
                </span>
            </small>
          </div>
        </div>
      </div>

      <div class="collapse pt-2"
           [attr.id]="'collapseGroupListItem-'+ episode.id">
        <p class="mb-1 text-justify"
           [innerHTML]="episode.description"></p>
      </div>
    </div>

  </ng-container>

</div>
