
<div class="row justify-content-center">
  <div class="col-sm-12 col-xs-12 px-0">

    <div *ngIf="podcast.image" class="text-center mb-4">
      <img class="w-100"
           [src]="DomSanitizationService.bypassSecurityTrustUrl(image.data)"
           alt="cover image">
    </div>

    <h1 class="h4 mt-3 mb-0">{{podcast.title}}</h1>

    <div *ngIf="podcast.link">
      <a class="website-link text-muted" href="{{podcast.link}}">{{domainService.prettyUrl(podcast.link)}}</a>
    </div>

    <p *ngIf="podcast.itunes.summary"
       class="podcast-description mt-4"
       [innerHTML]="podcast.itunes.summary"></p>

    <p *ngIf="!podcast.itunes.summary"
       class="podcast-description mt-4"
       [innerHTML]="podcast.description"></p>

    <!-- this element is init via injected JS -->
    <div id="podlove-button"></div>

    <div class="mt-3">
    <span class="badge badge-light py-2 mr-1"
          *ngFor="let category of podcast.itunes.categories">
      <span class="oi oi-tag"></span>
      {{category}}
    </span>
    </div>

    <div class="mt-2">
      <!-- Nav tabs -->
      <nav class="navbar navbar-expand px-0">
        <h2 class="navbar-text h5 my-2">Episodes</h2>
        <ul class="nav nav-pills ml-auto" id="episodesTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link" role="tab"
               id="episodes-tablelist-tab" href="#episodes-tablelist"
               data-toggle="tab" aria-controls="episodes-tablelist" aria-selected="false">
              <!--<i class="fa fa-list"></i>-->
              <span class="oi oi-list"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" role="tab"
               id="episodes-listgroup-tab" href="#episodes-listgroup"
               data-toggle="tab" aria-controls="episodes-listgroup" aria-selected="true">
              <span class="oi oi-list-rich"></span>
              <!--<i class="fa fa-th-list"></i>-->
            </a>
          </li>
        </ul>
      </nav>

      <!-- Tab panes -->
      <div class="tab-content" id="episodesTabContent">
        <div class="tab-pane fade" id="episodes-tablelist" role="tabpanel" aria-labelledby="episodes-tablelist-tab">
          <app-episode-tablelist [episodes]="episodes"></app-episode-tablelist>
        </div>
        <div class="tab-pane fade show active" id="episodes-listgroup" role="tabpanel" aria-labelledby="episodes-listgroup-tab">
          <app-episode-richlist [episodes]="episodes"></app-episode-richlist>
        </div>
      </div>
    </div>

    <!-- Feeds -->
    <h2 class="navbar-text h5 my-2">Feeds</h2>

    <div class="mt-2">
      <ng-container *ngFor="let feed of feeds">
        <code>{{feed.url}}</code>
      </ng-container>
    </div>


  </div>
</div>




