
<div class="row justify-content-center">
  <div class="col-sm-12 col-xs-12 px-0">

    <div class="input-group my-5">
      <input #searchBox id="search-box"
             [(ngModel)]="query"
             (keyup.enter)="onEnter(searchBox.value)"
             type="text" class="form-control"
             autocomplete="off"
             placeholder="every word leaves an echo...">
    </div>

    <div *ngIf="currPage === 0">
      <div class="alert alert-danger" role="alert">
        No Results found for '{{query}}'
      </div>
    </div>

    <ul class="list-unstyled">

      <li *ngFor="let result of results"
          (click)="navigate(result)"
          class="search-result list-group-item-action media mb-5" >

        <img class="result-thumb mr-3"
             src="{{result.image}}"
             alt="cover image">

        <div class="media-body">

          <h2 class="result-title my-0">{{result.title}}</h2>
          <div *ngIf="result.podcastTitle"><small class="text-muted">{{result.podcastTitle}}</small></div>
          <div class="mb-1">
            <small>
              <ng-container [ngSwitch]="result.docType">
                <span *ngSwitchCase="'podcast'" class="pt-1 badge badge-warning">PODCAST</span>
                <span *ngSwitchCase="'episode'" class="pt-1 badge badge-info">EPISODE</span>
              </ng-container>

              <span class="ml-2">
            <ng-container *ngIf="result.pubDate">
              <!--<span class="oi oi-calendar"></span>-->
              <i class="fa fa-calendar"></i>
              <span class="mx-1">{{result.pubDate | date: 'd MMM yyyy' }}</span>
            </ng-container>
          </span>
            </small>
          </div>

          <ng-container *ngIf="result.description">
            <p class="mb-1" [innerHTML]="(result.description.length > 130) ? result.description.substr(0, 130) + ' . . .' : result.description"></p>
            <!--<p class="mb-1">{{ (result.description.length > 130) ? result.description.substr(0, 130) + ' . . .' : result.description }}</p>-->
          </ng-container>

        </div>

      </li>
    </ul>

    <div *ngIf="results && maxPage > 1">

      <ng-container *ngIf="currPage === maxPage">
        <p>
          <span class="oi oi-code"></span>
          Congratulations, you've reached the end of the internet!
        </p>
      </ng-container>

      <div *ngIf="maxPage > 1">
        <nav aria-label="Search result page navigation">
          <ul class="pagination pagination-sm justify-content-center">

            <ng-container *ngIf="currPage > 1" >
              <li class="page-item">
                <a class="page-link"
                   [routerLink]="['/search', {q: query, p: 1, s: currSize}]"
                   aria-label="Previous">
                  <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
                  <span class="sr-only">First</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link"
                   [routerLink]="['/search', {q: query, p: currPage-1, s: currSize}]"
                   aria-label="Previous">
                  <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
            </ng-container>


            <li *ngFor="let page of pages"
                class="page-item"
                [class.active]="page === currPage">
              <a *ngIf="page > (currPage-4) && page < (currPage+4)"
                 class="page-link"
                 [routerLink]="['/search', {q: query, p: page, s: currSize}]">
                {{page}}
              </a>
            </li>

            <ng-container *ngIf="currPage < maxPage">
              <li class="page-item">
                <a class="page-link"
                   [routerLink]="['/search', {q: query, p: currPage+1, s: currSize}]"
                   aria-label="Next">
                  <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link"
                   [routerLink]="['/search', {q: query, p: maxPage, s: currSize}]"
                   aria-label="Next">
                  <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                  <span class="sr-only">Last</span>
                </a>
              </li>
            </ng-container>

          </ul>
        </nav>
      </div>

      <div class="text-center">
        <small class="text-muted">{{totalHits}} results total</small>
      </div>

    </div>
  </div>
</div>




