<ul class="list-group list-group-flush">

  <li class="list-group-item flex-column align-items-start px-0"
      *ngFor="let episode of episodes; let i = index">

    <div class="d-flex w-100">
      <div class="mr-auto">
        <a [routerLink]="['/e', episode.id]">{{episode.title}}</a>
      </div>
      <div>
        <small class="text-muted">
          <span class="px-2" *ngIf="episode.pubDate">{{episode.pubDate | date: 'd.MM.yyyy'}}</span>
        </small>
      </div>
      <div>
        <small class="text-muted">
          <span class="px-2" *ngIf="episode.itunes.duration">{{episode.itunes.duration}}</span>
        </small>
      </div>
      <div>
        <small class="text-muted">
          <a aria-expanded="true" data-toggle="collapse"
             (click)="isCollapsed[i] = !isCollapsed[i]"
             [attr.href]="'#listTableItem-'+ episode.id" >
            <span class="oi"
                  [ngClass]="{'oi-chevron-right': !isCollapsed[i], 'oi-chevron-bottom': isCollapsed[i]}"
                  style="width: 11px;"></span>
          </a>
        </small>
      </div>
    </div>

    <div aria-expanded="true" class="collapse" [attr.id]="'listTableItem-'+ episode.id">
      <div class="mt-4">
        <app-episode-teaser [episode]="episode"></app-episode-teaser>
      </div>
    </div>
  </li>

</ul>
