/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nunito');     /* used as default body text */
@import url('https://fonts.googleapis.com/css?family=Quicksand');  /* used for all the headers and website links */
@import url('https://fonts.googleapis.com/css?family=Comfortaa');  /* used for the "echo" brand name */

body {
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    margin: 0 auto;
    padding: 16px;
}

.container {
  max-width: 1160px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Quicksand', sans-serif;
}

.website-link {
  font-family: 'Quicksand', sans-serif;
}

.navbar-brand, .nav-link {
  font-family: 'Quicksand', sans-serif; /* use Comfortaa for chi symbol &#967; */
}

a {
  color: #007bff; /* 007bff, fc7e0f, 8400ff*/
}

/* make the scaling better with our centered narrow column we use in most views */
@media (min-width: 576px) {
  .col-sm-12 {
    max-width: 380px;
  }
}

