<div *ngFor="let podcast of podcasts; let i = index"
     class="matrix-content">

  <div class="row no-gutters" *ngIf="i%6===0">

    <div class="mx-auto">
      <a [routerLink]="['/p', podcasts[i].exo]" class="podcast-cell">
        <img class="podcast-thumb"
             src="{{podcasts[i].image}}"
             alt="cover image">
      </a>
    </div>

    <div class="mx-auto">
      <div *ngIf="podcasts[i + 1]">
        <a [routerLink]="['/p', podcasts[i + 1].exo]" class="podcast-cell">
          <img class="podcast-thumb"
               src="{{podcasts[i + 1].image}}"
               alt="cover image">
        </a>
      </div>
    </div>

    <div class="mx-auto">
      <div *ngIf="podcasts[i + 2]">
        <a [routerLink]="['/p', podcasts[i + 2].exo]" class="podcast-cell">
          <img class="podcast-thumb"
               src="{{podcasts[i + 2].image}}"
               alt="cover image">
        </a>
      </div>
    </div>

    <div class="mx-auto">
      <div *ngIf="podcasts[i + 3]">
        <a [routerLink]="['/p', podcasts[i + 3].exo]" class="podcast-cell">
          <img class="podcast-thumb"
               src="{{podcasts[i + 3].image}}"
               alt="cover image">
        </a>
      </div>
    </div>

    <div class="mx-auto">
      <div *ngIf="podcasts[i + 4]">
        <a [routerLink]="['/p', podcasts[i + 4].exo]" class="podcast-cell">
          <img class="podcast-thumb"
               src="{{podcasts[i + 4].image}}"
               alt="cover image">
        </a>
      </div>
    </div>

    <div class="mx-auto">
      <div *ngIf="podcasts[i + 5]">
        <a [routerLink]="['/p', podcasts[i + 5].exo]" class="podcast-cell">
          <img class="podcast-thumb"
               src="{{podcasts[i + 5].image}}"
               alt="cover image">
        </a>
      </div>
    </div>

  </div>

</div>
