<ul class="list-group list-group-flush">
  <li *ngFor="let podcast of podcasts"
      class="list-group-item px-0">

    <div class="media">
      <div class="media my-2">
        <img class="mr-3" style="width:64px;height:64px;"
             src="{{podcast.image}}"
             alt="cover image">

        <div class="media-body">
          <h5 class="mt-0">
            <a routerLink="/p/{{podcast.exo}}" class="podcast-h">{{podcast.title}}</a>
          </h5>
          <!--<p class="mb-1" [innerHTML]="podcast.description"></p>-->
        </div>
      </div>
    </div>
  </li>
</ul>
