@import url('https://fonts.googleapis.com/css?family=Nunito');     /* used as default body text */
@import url('https://fonts.googleapis.com/css?family=Quicksand');  /* used for all the headers and website links */
/*@import url('https://fonts.googleapis.com/css?family=Comfortaa');  /* used for the "HEMIN" brand name */


.hemin {
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
.f1, .f2, .f3, .f4, .f5, .f6 {
    font-family: 'Quicksand', sans-serif;
}

.font-quicksand {
    font-family: 'Quicksand', sans-serif;
}

.font-nunito {
    font-family: 'Nunito', sans-serif;
}

.hemin .hemin-brand {
    font-family: 'Quicksand', sans-serif; /* use Comfortaa for chi symbol &#967; */
}

.hemin .footer {
    /*
    position: absolute;
    bottom: 0;
    overflow-wrap: normal;
    */
}

rendered-html ul {
    display: block;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 20px;
}

rendered-html p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
